<form >
    <mat-form-field>
        <mat-label>nazwisko</mat-label>
        <input matInput placeholder="nazwisko">
    </mat-form-field>

    <mat-form-field>
        <mat-label>imie</mat-label>
        <input matInput placeholder="imie">
    </mat-form-field>
    <mat-form-field>
        <mat-label>miasto</mat-label>
        <input matInput placeholder="miaso">
    </mat-form-field>
    <mat-form-field>
        <mat-label>numer telefonu</mat-label>
        <input matInput placeholder="numer telefonu">
    </mat-form-field>
    <mat-form-field>
        <mat-label>mail</mat-label>
        <input matInput placeholder="mail">
    </mat-form-field>
</form>
<button [routerLink]="['']">wstecz</button>
